version: "3.9"
services:
  backend:
    build: ./backend
    container_name: mern-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - mongo
    networks:
      - mern-net
    restart: unless-stopped
  mongo:
    image:  mongo
    container_name: my-mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: pass123
    volumes:
      - mongo-data:/data/db
    networks:
      - mern-net
    

volumes:
  mongo-data:

networks:
  mern-net:
    driver: bridge